@model Project_2_Mvc_homepage.ViewModel.CustomerViewModels.CustomersViewModel


@{
    ViewData["Title"] = "All Customers";
}

<h1>All Customers </h1>
<table class="table table-hover table-striped">
    <tr>
    <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>   
    @foreach (var Cust in Model.Customers)
    {
        <tr>
            <td> @Cust.Id</td>
            <td> @Cust.Name</td>
                
            <td><a asp-controller="Customer" asp-action="Edit" asp-route-id="@Cust.Id"><i class='bx bxs-edit-alt'></i> </a></td>
            

            <td>
                <form method="post">
                    <button class="text-danger border-0" asp-controller="Customer" asp-action="Delete" asp-route-id="@Cust.Id" type="submit"><i class='bx bxs-message-x'></i> </button>
                </form>
            </td>
            </tr>
    }
</table>
<a asp-controller="Customer" asp-action="Create">
    Create New
</a>
